table {
  border-collapse: collapse;
  border: 1px solid gray;
}
th,
td {
  border: 1px solid gray;
  padding: 0.25rem 0.5rem;
}

table {
  position: relative;
  max-width: 100000px;
}
/* thead[is='aha-table-drag-handles'],
thead[is='aha-table-drag-handles'] tr {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */
thead[is='aha-table-drag-handles'] th {
  /* border-color: transparent !important; */
  padding: 0 !important;
  height: 20px !important;
  background: yellow;
  border-top-color: transparent !important;
  position: relative !important;
  /* width: calc(1% * var(--width)); */
  /* position: relative; */
  /* pointer-events: none; */
}
thead[is='aha-table-drag-handles'] th .aha-table-drag-handle {
  /* pointer-events: all; */
  position: absolute;
  z-index: 10;
  top: 0;
  /* bottom: 0; */
  height: calc(1px * var(--table-height));
  right: 0;
  margin-right: -1px;
  /* right: calc(var(--right) * 1px); */
  /* left: calc((1px * var(--right)) - 1px); */
  border-left: 1px solid red;
  cursor: ew-resize;
  /* display: none; */
}
thead[is='aha-table-drag-handles'] th:before {
  content: '';
  display: block;
  width: inherit;
}
